<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>zillow.scraper</string>
        <key>Program</key>
        <string>/Users/Li/work/zillow_scraper/run.sh</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/bin:/usr/bin:/usr/local/bin</string>
        </dict>
        <key>StandardOutPath</key>
        <string>/tmp/zillow_scraper.stdout</string>
        <key>StandardErrorPath</key>
        <string>/tmp/zillow_scraper.stderr</string>
        <key>WorkingDirectory</key>
        <string>/Users/Li/work/zillow_scraper</string>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>20</integer>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
    </dict>
</plist>
